<header id="header" class="">
  <h1>Welcome to my <em>cookbook</em>!</h1>
  <h2>Recipes list</h2>
</header>

<!-- Return the list of the recipes -->
<% @recipes.each do |recipe| %>
  <row>
    <h4><%= recipe.name %></h4>
    <h6><%= recipe.rating %> / 5 - <%= recipe.prep_time %></h6>
    <p><%= recipe.description %></p>
  </row>
<% end %>

<!-- Add new recipes button -->
<button type="button" class="btn btn-outline-primary btn-lg">
  <a href="/new">Add a new recipe</a>
</button>
