<header id="header" class="">
  <h1>Add a new recipe</h1>
  <h2>Fill the form to add a new recipe</h2>
</header>

<form>
  <div class="form-group">
    <label for="recipeName">Name</label>
    <input class="form-control" name="recipe[name]" placeholder="Apple pie">
  </div>
  <div class="form-group">
    <label for="recipeDescription">Description</label>
    <input class="form-control" name="recipe[description]" placeholder="My grand-mother favorite recipe">
  </div>
  <div class="form-group">
    <label for="recipeRating">Ratings ( /5 )</label>
    <input class="form-control" name="recipe[rating]" placeholder="3">
  </div>
  <div class="form-group">
    <label for="recipePrep-time">Preparation time</label>
    <input class="form-control" name="recipe[prep_time]" placeholder="Enter the preparation time">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
